.galaxy-form {
  margin-top: 40px;
}

.question-text p {
  font-size: 14px;
  color: var(--favcolor);
  margin-bottom: 0;
}

.question-text h2 {
  margin-top: 0px;
  color: var(--favcolor);
}

.form-frame {
  grid-column: 2/3;
}

.form-input {
  border: var(--border) solid var(--favcolor);
  min-height: 200px;
  text-align: left;
  color: var(--favcolor);
  width: 100%;
  padding: 7%;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: var(--gradient1);
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}

.shadow {
  box-shadow: 1em 1em 1em var(--highlight);
}

.attention {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.counter {
  position: absolute;
  right: 7%;
  bottom: 20%;
  text-align: right;
  color: var(--highlight);
}

.label {
  font-size: 1rem;
  padding-left: 20px;
  color: var(--favcolor);
  text-transform: uppercase;
}

.field-question-1,
.field-question-2,
.field-question-3 {
  position: relative;
}

.submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
