@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('styles/components/card.css');
@import url('styles/components/form.css');

* {
  box-sizing: border-box;
}

:root {
  --favcolor: blanchedalmond;
  --maincolor: rgb(225 115 235);
  --darkcolor: black;
  --highlight: rgb(255 255 255);
  --acccolor: hotpink;
  --bmcolor: rgb(24 139 206);
  --border: 2px;
  --testborder: 0;
  --gradient1: linear-gradient(
    35deg,
    rgba(2 0 36 / 100%) 0%,
    rgba(120 9 121 / 30%) 0%,
    rgba(0 212 255 / 20%) 100%
  );
  --gradient2: linear-gradient(35deg, rgb(7 4 49) 50%, rgb(41 7 32) 100%);
}

body {
  background-color: var(--darkcolor);
  color: var(--acccolor);
  font-family: 'DM Sans', sans-serif;
  background-image: url('/images/stars.jpg');
  background-size: cover;
  padding: 0;
  margin: 0;
}

.grid {
  width: 100%;
}

.menu-inactive {
  display: none;
}

.menu-active {
  display: visible;
}

h2 {
}

h1 {
  color: var(--maincolor);
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

h3 {
  margin: 0;
  padding: 0;
}

.light-text {
  color: var(--favcolor);
}

/* HEADER */

header {
  position: fixed;
  top: 3vw;
  height: 0;
  width: 100%;
  margin: 0;
  z-index: 1;
}

.headline-container {
  background: var(--gradient2);
  border: var(--border) solid var(--maincolor);
  border-radius: 40px;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* RESP LAYOUT GENERAL */

header,
.grid,
footer {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.first {
  margin-top: 10rem;
}

.last {
  margin-bottom: 20vh;
}

@media only screen and (min-width: 400px) {
  header,
  .grid,
  footer {
    grid-template-columns: 1fr 4fr 1fr;
  }

  .first {
    margin-top: 27vh;
  }

  .last {
    margin-bottom: 20vh;
  }
}

@media only screen and (min-width: 600px) {
  header,
  .grid,
  footer {
    grid-template-columns: 1fr 4fr 1fr;
  }

  .first {
    margin-top: 27vh;
  }

  .last {
    margin-bottom: 20vh;
  }
}

@media only screen and (min-width: 800px) {
  header,
  .grid {
    grid-template-columns: 1.4fr 2fr 0.8fr;
  }

  .first {
    margin-top: 5vw;
  }

  .last {
    margin-bottom: 8vh;
  }
}

/* END // RESP LAYOUT GENERA */

/* FOOTER */

.footer-element {
  font-size: 30px;
  height: 70px;
  width: 70px;
  border: var(--border) solid var(--maincolor);
  color: var(--maincolor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--gradient2);
}

.now {
  border: var(--border) solid var(--acccolor);
  color: var(--acccolor);
}

@media only screen and (max-width: 500px) {
  .footer-element {
    height: 50px;
    width: 50px;
  }
}

.footer-element:hover {
  box-shadow: 0 0 8px 2px var(--highlight);
}

footer {
  position: fixed;
  bottom: 5vh;
  width: 100%;
  height: 10vh;
}

.footer-item-container {
  grid-column-start: 2;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: var(--maincolor);
}

/* FOOTER END */

/* RESPONSIVE LARGE DEVICES */

@media only screen and (min-width: 800px) {
  .headline-container {
    grid-column: 1/2;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    text-align: center;
    margin: 2rem;
  }

  footer {
    position: fixed;
    display: flex;
    right: 5vh;
    bottom: 5vh;
    height: 60vh;
    width: 20vh;
  }

  footer nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.6em;
    align-items: flex-end;
  }

  .shadow {
    box-shadow: 0 0 10px 10px yellow;
  }
}
