<link rel="stylesheet" href="/styles/components/card.css">
<link rel="stylesheet" href="/style.css">

<div class="card first">
<div class="question-text">
    <h2>What is your favourite planet?</h2>
    <p>For over 1000 years, Jedis and space bees have fightened for freedom in all galaxies in our universe. Name your favourite planet of this beautiful cosmos!</p>
</div>
<div class="show-answer-button">
    <button>show answer</button>
</div>
<div class="tags">
    <div class="tag">ONE</div>
    <div class="tag">TWO</div>
    <div class="tag">THREE</div>
    <div class="tag">FOUR</div>
    <div class="tag">FIVE</div>
    <div class="tag">SIX</div>
    <div class="tag">SEVEN</div>
</div>
</div>

<div class="card second">
    <div class="question-text">
        <h2>Where is Luke Skywalker?</h2>
        <p>After the dark side snapped the force, Luke decided to go for new adventures on lonely planets. Where was he hiding?</p>
    </div>
    <div class="show-answer-button">
        <button>show answer</button>
    </div>
    <div class="tags">
        <div class="tag">ONE</div>
        <div class="tag">TWO</div>
        <div class="tag">THREE</div>
        <div class="tag">FOUR</div>
        <div class="tag">FIVE</div>
        <div class="tag">SIX</div>
        <div class="tag">SEVEN</div>
    </div>
    </div>

</div>

<div class="card third">
    <div class="question-text">
        <h2>How many moons has Saturn?</h2>
        <p>Saturn is one of the biggest and most sexy planets in our solar system. He would be very lonely without its moons. Count them!</p>
    </div>
    <div class="show-answer-button">
        <button>show answer</button>
    </div>
    <div class="tags">
        <div class="tag">ONE</div>
        <div class="tag">TWO</div>
        <div class="tag">THREE</div>
        <div class="tag">FOUR</div>
        <div class="tag">FIVE</div>
        <div class="tag">SIX</div>
        <div class="tag">SEVEN</div>
    </div>
    </div>

</div>